body {
  padding: 80px 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 /* background-image: url('/images/background2.png');*/
}

#index-search {
	width: 80%;
}

.nav-search input {
	width: 400px !important;
	margin-right: 5px;
}

.view_tx {
	text-align: center;
}

.block-last {
	margin: 0;
	margin-right: 10px;
}

.block-next {
	margin: 0;
	margin-left: 10px;
}
#chart3 .jqplot-xaxis {
	display: none;
}

.data {
	display: block;
	overflow: hidden;
	width: 100%;
}

.txid {
	width: 100%;
	display:block;
	overflow: hidden;
}

.panel-address-summary {
 margin-bottom: 5px;
}

/* datatable tweaks */
table {
	width: 100% !important;
}
.dataTables_info, .dataTables_length {
	padding-left: 10px;
}

.dataTables_info {
	display: hidden !important;
}

.dataTables_length {
	padding-top: 10px;
}

.dataTables_paginate {
	padding-right: 5px;
}

.tab-pane {
	margin-top: 5px;
}

table a:not(.btn),.table a:not(.btn){
	text-decoration:none
}

tr {
	width: 100%;
}

.footer-padding {
	height: 50px;
	width: 100%;
}

.summary-table {
	margin: 0px !important;
}

#loading-icon {
	width: 30px;
    margin: 10px 10px;
}

.menu-text {
	margin-left:5px;
}

#twitter-icon {
	font-size: 20px;
}
.connections {
	position: absolute;
	bottom: 15px;
	right: 15px;
	display: none;
}

#lblBlockcount {
	margin-right: 10px;
}

#twitter-icon img{
	width: 40px;
	margin: 5px 5px;
}

#market_menu {
	margin-bottom: 5px;
}

.label a:link {
	color: #ffffff;
}

.label a:visited {
	color: #ffffff;
}

.label a:hover {
	color: #ffffff;
}

.label a:active {
	color: #ffffff;
}

@media(max-width:767px){
	body {
		padding: 0px;
		padding-top:60px;
	}
}

@media(max-width:1096px){
	.nav-search input {
	    width: 300px !important;
    }
}

@media(max-width:865px){
	.nav-search input {
	    width: 150px !important;
    }
}
.qrcode {
	position: absolute;
	top: 65px;
	right: 15px;
}

.footer-logo {
	height: 40px;
	position: absolute;
	bottom: 0px;
}
.btn-success {
	background-color: #ff1361;
	border-color: #ff1361;
	color: #ffffff;
}
.btn-success:hover {
	color: #ff1361;
	background-color: #303334;
	border-color: #303334;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #ff1361;
	border-color: #ff1361;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
	background-color: #ff1361;
	border-color: #303334;
	color: #ffffff;
}
.navbar-default .navbar-brand {
	color: #ff1361;
	background-image: url('../images/hanacoin_clear.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.navbar-default .navbar-brand:hover {
	color: #ff1361;
}
.navbar-link {
	color: #ff1361;
}
.navbar-link:hover {
	color: #ff1361;
}
.container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    min-width: 100px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #ff1361;
	border-color: #303334;
	color: #ffffff;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	background-color: #ff1361;
	border-color: #303334;
	color: #ffffff;
}
.label-danger {
	background-color: #ff1361;
}
.alert-danger {
	background-color: #ff1361;
	border-color: #303334;
}
.table-hover>tbody>tr:hover {
	background-color: #ff1361;
	border-color: #303334;
	color: #ffffff;
}
